@model IEnumerable<Loja.Dominio.Entidades.Categoria>

@{
    ViewData["Title"] = "Categorias";
}

<h1>Categorias</h1>

<p>
    <a asp-action="CriarCategoria" class="btn btn-primary">Nova Categoria</a>
</p>
<table id="myTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Codigo" class="btn btn-success m-1">Alterar</a>
                    <a asp-action="DetalharCategoria" asp-route-id="@item.Codigo" class="btn btn-primary m-1">Detalhes</a>
                    <a asp-action="DeletarCategoria3" asp-route-id="@item.Codigo" class="btn btn-danger m-1">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
<script>
     $(document).ready( function () {
     $('#myTable').DataTable();
    } );
</script>
}
